@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: #0c0804;
    font-family: 'Baloo Bhai 2', cursive;
}

section{
    /* margin: 10px 0px; */
    padding: 10px;
}
h1,h2{
    /* border:2px solid red; */
    text-align: center;
    color: #fff;
    font-size: 2rem;
    letter-spacing: 5px;
}
h1{
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    animation:small 1.3s infinite;
}
@keyframes small{
    from{transform: scale(0.6);}
    to{transform: scale(0.5);}
}

.card{
    /* border:2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    width: 99%;
    height: auto;
    margin: auto;
    align-items: center;
    list-style: none;
}

.card__main{
    /* border:2px solid green; */
    width: 27%;
    height: 33vh;
    margin: 29px;
    background-color: #6666ff ;
    border-radius: 10px;
    color: black;
    text-align: center;
    position: relative;
    /* box-sizing: border-box; */
    display: block;
    transition: all .3s ease-in-out;
}
.card__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    color: #fff;
    /* text-shadow: #ccccff 1px 1px 5px; */
}
.card__name{
    font-size: 25px;
    font-weight: 600;
    padding-top: 25px;
}
.small{
    font-size: 20px;
}
.card__total{
    font-size: 4rem;
    /* padding: 5px; */
    font-weight: 500;
    /* line-height: 3rem; */
    
}
.card__main:hover{
    transform: scale(1.1);
}

.box__2{background-color: #00ff00;}
.box__3{background-color: #ffdd00;}
.box__4{background-color: #233237;}
.box__5{background-color: #ff7518;}
.box__6{background-color: #da251c;}

.box__6 .card__small{
    font-size: 45px;
}


/*          MEDIA QUERIES           */

@media screen and (max-width:1066px) and (min-width:664px)  {
    .card__total{
        margin: auto;
        /* border: 2px solid black; */
        font-size: 50px;
    }

    .card__name{
        font-size: 20px;
    }

    .box__6 .card__small{
        font-size: 35px;
    }
}

@media screen and (max-width:664px) and (min-width:246px) {
    .card__total{
        margin: auto;
        /* border: 2px solid black; */
        font-size: 90px;
    }

    .card__name{
        font-size: 20px;
    }

    .box__6 .card__small{
        font-size: 55px;
    }

    .card__main{
        width: 500px;
    }

    .box__2 .card__small{
        font-size: 55px;
    }

    .box__3 .card__small{
        font-size: 55px;
    }

    .box__4 .card__small{
        font-size: 55px;
    }

    .box__5 .card__small{
        font-size: 55px;
    }
}

@media screen and (max-width:246px){
    .card__total{
        margin: auto;
        /* border: 2px solid black; */
        font-size: 20px;
    }

    .card__name{
        font-size: 20px;
    }

    .box__6 .card__small{
        font-size: 15px;
    }

    .card__main{
        width: 100%;
        height: 20vh;
    }
}

@media screen and (max-width:148px){
    h1,h2{
        font-size: 16px;
    }
}